/* 设置 body 和 html 的基本样式 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* 防止页面出现水平滚动 */
}

/* 背景图片的容器样式 */
.fullscreen-bg {
    background-image: url('1.png'); /* 替换为你的背景图片路径 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; /* 让背景图片覆盖整个页面 */
    position: relative;
    z-index: 0;
    margin: 0; /* 移除任何可能的默认外边距 */
    padding: 0; /* 移除任何可能的默认内边距 */
}

/* 背景遮罩层 */
.fullscreen-bg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% 透明度的黑色遮罩 */
    z-index: 1;
}

/* 覆盖在背景图片上的文字样式 */
.fullscreen-bg h1 {
    position: relative;
    color: white;
    font-size: 3rem;
    text-align: center;
    z-index: 2;
    margin: 0; /* 清除任何默认的 margin */
    padding-top: 40vh; /* 控制标题的垂直位置，使其位于页面中间 */
}

/* 布局容器，包含侧边栏和内容 */
.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 0; /* 确保内容紧接背景图片之后显示 */
    position: relative;
    z-index: 3;
}

/* 侧边栏样式 */
.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f8f8f8;
    height: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

/* 侧边栏导航 */
.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #34495e;
    font-size: 16px;
}

.sidebar ul li a:hover {
    color: #42b983;
}

/* 内容区域样式 */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    height: auto;
}

/* Github 角标 */
.github-corner {
    fill: #42b983; /* 设置 GitHub 角标为经典绿色 */
    position: fixed;
    top: 0;
    right: 20px; /* 确保它不会与滚动条重叠 */
    z-index: 1000;
}

/* 搜索框样式 */
.search-container {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* 搜索框下方的分割线 */
}
.search-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    color: #333;
}
.search-input::placeholder {
    color: #999;
}
